body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #FFC796, #FF6B95, #4CA1A3);
    background-size: 600% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

textarea {
    width: 80%;
    height: 80%;
    padding: 20px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    resize: none;
}
.buttons {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #FF6B95;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4CA1A3;
}
