body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, .content, footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#logo {
    width: 100px;
    height: 100px;
}

.social-links {
    margin-left: 100px;
    display: flex;
    gap: 10px;
}

.social-links img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#login-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#login-btn:hover {
    background-color: #0056b3;
}
.content{
    width: 1300px;
}
.leshi{
    width: 1000px;
    height: 500px;
}
.eww{
    margin-left: 100px;
}

