*{
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 630PX;
    
    background-image: url("image/banner.jpg");
    position: absolute;
} 
.form-box{
    width :340px;
    height:400px;
    position:absolute;
    margin: 10%;
    margin-left: 450px;
    text-align: center;
    border-radius: 25px;
    
      
    

    background: #fff;
    padding: 5px;
}
.button-box{
    width:220px;
    margin:35px auto;
    position: relative;
    box-shadow:0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border:0;
    outline: none;
    position : relative;

}
#btn{
    top: 0;
    left :0;
    position : absolute ;
    width: 110px;
    height:100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;

}
.social-icons img {
    width : 30px;
    margin :0 12px;
    box-shadow:0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition:.5s;
}
.input-field{
    width: 100%;
    padding:10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width:85%;
    padding:10px 30px;
    cursor: pointer;
    display: block;
    margin : auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border:0;
    outline: none;
    border-radius: 30px;
    margin-right: 40px;
}
.check-box{
    margin-top: 10px;
    margin-bottom: 30PX;
   
    
}
#ew{
    color:#777;
    font-size: 12px;
    bottom: 68px;
    border-left-width: 0px;
    margin-right: 145px;
    
    
}
#login{
    left: 65px;
    
}
#bt{
    top: 0;
    left :0;
    position : absolute ;
    width: 100%;
    height:100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;

}
.input-grou{
    top: 80px;
    position: absolute;
    width: 280px;
    transition:.5s;

}
.input-fiel{
    width: 100%;
    padding:10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
#rt{
    color:#777;
    font-size: 12px;
    bottom: 68px;
    border-left-width: 0px;

    margin-left: 10px;
    margin-right: 100px;

}
.shi{
    
    
    width: 100%;
    height: 630px;
    position:absolute;
    
    background-image: url("alexey-starki-91ykdj2WQeg-unsplash.jpg");
    
    background-size: cover;
}
.sh{

    
    position: absolute;
    
   
  
    
    width: 150px;
    height:30px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    
    transition: .5s;
}
.log{
    
    left: 800px;
    position: absolute;
  
    
    width: 100px;
    height:30px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}

    


.er{
    
    height: 30px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    width: 100%;
     
    background-size: cover;
}
.wi{
    width: 100%;
    
    height: 30px;
    background-color: #ff105f;
}
.wio{
    position: absolute;
    width: 300px;
    height: 600px;
    margin-top: 0;
    background-color:aqua ;
    
}

.wer{
    width: 298px;
    height: 60px;
    border-radius: 1%;
    
    margin: 0%;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #FFC796, #FF6B95);
    border-color: #DDDDDD;
    
    
}
 




.wq1{
    margin-left: 100px;
    margin-top: 5px;
    color: #fff;
    font-size: 20px;
}
.submit-btn1{
    margin-top: 200px;
}
.re2{
    position: absolute;
    margin-left: 300px;
    width: 1045px;
    height: 600px;
    background-image: url("image/desti.png");
}
.dig{
    position: absolute;
    width: 336.25px;
    height:200px;
    background-color: aquamarine;
}
.dig1{
    position: absolute;
    margin-left: 337.25px;
    width: 336.25px;
    height: 200px;
    background-color: aquamarine;
    border-color: whitesmoke;
    border-color: #fff;
    border-radius: 2%;
}
.image1{
    width: 336.25px;
    height :180px;
    background-image: url(image/bihar.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.state{
    font-size: 20px;
    margin-left: 150px;
    color: #fff;
}
.dig2{
   position: absolute;
    margin-left: 674.5px;
    width: 336.25px;
    height: 200px;
    background-color: aquamarine;
    border-color: whitesmoke;
    border-color: #fff;
    border-radius: 2%;
}
.dig3{
    position: absolute;
    margin-left: 1011.75px;
    width: 334.25px;
    height: 200px;
    background-color: aquamarine;
    border-color: whitesmoke;
    border-color: #fff;
    border-radius: 2%;
}
.dig4{
    margin-top: 201px;
    position: absolute;
    width: 336.25px;
    height:199px;
    background-color: aquamarine;

}
.dig5{
    margin-top: 201px;
    position: absolute;
    margin-left: 337.25px;
    width: 336.25px;
    height:199px;
    background-color: aquamarine;

}
.dig6{
    margin-top: 201px;
    position: absolute;
    margin-left: 674.5px;
    width: 336.25px;
    height:199px;
    background-color: aquamarine;

}
.dig7{
    margin-top: 201px;
    position: absolute;
    margin-left: 1011.75px;
    width: 334.25px;
    height:199px;
    background-color: aquamarine;

}
.dig8{
    margin-top: 402px;
    position: absolute;
    width: 336.25px;
    height:199px;
    background-color: aquamarine;

}
.dig9{
    margin-top: 402px;
    position: absolute;
    margin-left: 337.25px;
    width: 336.25px;
    height:199px;
    background-color: aquamarine;

}
.dig10{
    margin-top: 402px;
    position: absolute;
    margin-left: 674.5px;
    width: 336.25px;
    height:199px;
    background-color: aquamarine;

}
.dig11{
    margin-top: 402px;
    position: absolute;
    margin-left: 1011.75px;
    width: 334.25px;
    height:199px;
    background-color: aquamarine;

}
.image2{
    width: 336.25px;
    height :180px;
    background-image: url(image/kerla.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image3{
    
        width: 336.25px;
        height :180px;
        background-image: url(image/goa.png);
        background-size: cover;
        background-repeat: no-repeat;
}
.image4{
    
    width: 336.25px;
    height :180px;
    background-image: url(image/Gujarat.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image5{
    
    width: 336.25px;
    height :180px;
    background-image: url(image/karnataka.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image6{
    
    width: 336.25px;
    height :180px;
    background-image: url(image/Rajastha.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image7{
    
    width: 336.25px;
    height :180px;
    background-image: url(image/maharastra.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image8{
    
    width: 336.25px;
    height :180px;
    background-image: url(image/uttarpradesh.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image9{
    
    width: 336.25px;
    height :180px;
    background-image: url(image/andhrapradesh.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image10{
    
    width: 336.25px;
    height :180px;
    background-image: url(image/tamilnadu.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image11{
    
    width: 336.25px;
    height :180px;
    background-image: url(image/Westbengal.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image12{
    
    width: 336.25px;
    height :180px;
    background-image: url(image/uttrakhand.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.yu{
    
    width: 150px;
    height: 30px;
    background: linear-gradient(to right, rgb(93, 48, 218),rgb(152, 223, 184));
    border: #fff;
    
    
}
#personsA{
    width: 50px;
}
#packageADiv{
    position: absolute;
    width: 449.5px;
    height:300px;
    margin-top: 2px;
    background-color: #DDDDDD    ;
    
    
    


}
.place1{
    
    
    
    width: 448.5px;
    height :180px;
    background-image: url(image/Ooty.png);
    background-size: cover;
    background-repeat: no-repeat;


}

.person{
    margin-top: 5px;
    margin-left: 100px;
}
.price{
    margin-top: 5px;
    margin-left: 100px;
}
.time{
    margin-top: 5px;
}
.btm{
    color: rgb(5, 5, 8);
    background-color: whitesmoke;
}
.btn btn-dark{
    margin-left: 10px;
}
#packageADiv1{
    margin-left: 452.5PX;
    width: 448.5px;
    height: 300px;
    margin-top: 2px;
    background-color: #DDDDDD;
    
}
.place2{
    width: 448.5px;
    height :180px;
    background-image: url(image/phichavaram.png);
    background-size: cover;
    background-repeat: no-repeat;
} 
.place img {
    width: 400px;
    height: 200px;
}

.place {
    width: 400px;
    margin-left: 7px;
    margin-bottom: 20px;
    display: inline-block;  /* Display places side by side */
}

/* Clearfix for wrapping to the next row */
#placesGallery::after {
    content: "";
    display: table;
    clear: both;
}
.placeName{
    margin-left: 120px;
}


